In [ ]:
import numpy as np
import pandas as pd
students = np.random.randint(50,101,size=(50,5))
stu = pd.DataFrame(students,
             columns=['國文','英文','數學','地理','歷史'],
             index=[f'第{i}號' for i in range(1,51)]
             )
stu

In [ ]:
#Series
chines_series = stu['國文']
chines_series

In [ ]:
chines_series['第49號'] #第49號國文的成積

In [ ]:
chines_series[['第49號','第50號']] #第49號和50號的國文的成積

In [ ]:
chines_series[:5] #國文前5個學生的分數

In [8]:
#第1號的學生
stu.loc['第1號']

國文    91
英文    66
數學    83
地理    99
歷史    92
Name: 第1號, dtype: int64

In [9]:
#第1號和第2號的學生
stu.loc[['第1號','第10號']]

      國文  英文  數學  地理  歷史
第1號   91  66  83  99  92
第10號  60  95  66  72  60

In [11]:
#前5個學生
stu.iloc[:5]
#後5個學生
stu.iloc[-5:]

      國文  英文  數學  地理  歷史
第46號  51  55  67  78  68
第47號  53  93  79  62  99
第48號  82  65  58  87  81
第49號  53  92  68  93  54
第50號  94  85  50  58  85