In [22]:
import numpy as np
import pandas as pd

all_data = pd.read_csv('world.csv')
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 33 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              187885 non-null  int64
 1   iso_code        187885 non-null  object
 2   洲名              187885 non-null  object
 3   國家              187885 non-null  object
 4   日期              187885 non-null  object
 5   總確診數            187885 non-null  int64
 6   新增確診數           187885 non-null  int64
 7   七天移動平均新增確診數     187885 non-null  float64
 8   總死亡數            187885 non-null  int64
 9   新增死亡數           187885 non-null  int64
 10  七天移動平均新增死亡數     187885 non-null  float64
 11  每百萬人確診數         187885 non-null  float64
 12  每百萬人死亡數         187885 non-null  float64
 13  傳染率             187885 non-null  float64
 14  新增檢驗件數          187885 non-null  int64
 15  總檢驗件數           187885 non-null  int64
 16  每千人檢驗件數         187885 non-null  float64
 17  七天移動平均新增檢驗件數    187885 non-null  float64
 18  陽性率             187885 non-null  float64
 19  每確診案例相對檢驗數量     187885 non-null  float64
 20  疫苗總接種總劑數        187885 non-null  int64
 21  疫苗總接種人數         187885 non-null  int64
 22  疫苗新增接種劑數        187885 non-null  int64
 23  七天移動平均疫苗新增接種劑數  187885 non-null  float64
 24  每百人接種疫苗劑數       187885 non-null  float64
 25  每百人接種疫苗人數       187885 non-null  float64
 26  疫情控管指數          187885 non-null  float64
 27  總人口數            187885 non-null  int64
 28  中位數年紀           187885 non-null  float64
 29  70歲以上人口比例       187885 non-null  float64
 30  平均壽命            187885 non-null  float64
 31  解除隔離數           187885 non-null  int64
 32  解封指數            187885 non-null  float64
dtypes: float64(17), int64(12), object(4)
memory usage: 47.3+ MB

In [23]:
#'洲名','國家','日期','總確診數','新增確診數'
df1 = all_data.reindex(columns=['洲名','國家','日期','總確診數','新增確診數'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   洲名      187885 non-null  object
 1   國家      187885 non-null  object
 2   日期      187885 non-null  object
 3   總確診數    187885 non-null  int64
 4   新增確診數   187885 non-null  int64
dtypes: int64(2), object(3)
memory usage: 7.2+ MB

In [24]:
df1['日期'] = pd.to_datetime(df1['日期'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   洲名      187885 non-null  object
 1   國家      187885 non-null  object
 2   日期      187885 non-null  datetime64[ns]
 3   總確診數    187885 non-null  int64
 4   新增確診數   187885 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 7.2+ MB

In [25]:
df1

        洲名   國家         日期    總確診數  新增確診數
0       亞洲  阿富汗 2020-02-24       5      5
1       亞洲  阿富汗 2020-02-25       5      0
2       亞洲  阿富汗 2020-02-26       5      0
3       亞洲  阿富汗 2020-02-27       5      0
4       亞洲  阿富汗 2020-02-28       5      0
...     ..  ...        ...     ...    ...
187880  非洲  辛巴威 2022-07-02  255586      0
187881  非洲  辛巴威 2022-07-03  255586      0
187882  非洲  辛巴威 2022-07-04  255726    140
187883  非洲  辛巴威 2022-07-05  255755     29
187884  非洲  辛巴威 2022-07-06  255805     50

[187885 rows x 5 columns]

In [26]:
taiwan_df = df1.query('國家=="台灣"')

In [27]:
jp_df = df1.query('國家=="日本"')
jp_df

       洲名  國家         日期     總確診數  新增確診數
85626  亞洲  日本 2020-01-22        2      0
85627  亞洲  日本 2020-01-23        2      0
85628  亞洲  日本 2020-01-24        2      0
85629  亞洲  日本 2020-01-25        2      0
85630  亞洲  日本 2020-01-26        4      2
...    ..  ..        ...      ...    ...
86518  亞洲  日本 2022-07-02  9364954  24875
86519  亞洲  日本 2022-07-03  9388222  23268
86520  亞洲  日本 2022-07-04  9405007  16785
86521  亞洲  日本 2022-07-05  9441171  36164
86522  亞洲  日本 2022-07-06  9486965  45794

[897 rows x 5 columns]

In [28]:
from datetime import datetime
one_day = datetime.fromisoformat('2022-07-05')
print(one_day.year)
print(one_day.month)
print(one_day.day)

2022
7
5

In [30]:
taiwan_df[(taiwan_df['日期'].dt.year == 2022) & (taiwan_df['日期'].dt.month == 6)]

        洲名  國家         日期     總確診數  新增確診數
164853  亞洲  台灣 2022-06-01  2121231  88248
164854  亞洲  台灣 2022-06-02  2198161  76930
164855  亞洲  台灣 2022-06-03  2274666  76505
164856  亞洲  台灣 2022-06-04  2342794  68128
164857  亞洲  台灣 2022-06-05  2404871  62077
164858  亞洲  台灣 2022-06-06  2457881  53010
164859  亞洲  台灣 2022-06-07  2540871  82990
164860  亞洲  台灣 2022-06-08  2620941  80070
164861  亞洲  台灣 2022-06-09  2693787  72846
164862  亞洲  台灣 2022-06-10  2762080  68293
164863  亞洲  台灣 2022-06-11  2841696  79616
164864  亞洲  台灣 2022-06-12  2892263  50567
164865  亞洲  台灣 2022-06-13  2937363  45100
164866  亞洲  台灣 2022-06-14  3003501  66138
164867  亞洲  台灣 2022-06-15  3072432  68931
164868  亞洲  台灣 2022-06-16  3135565  63133
164869  亞洲  台灣 2022-06-17  3190787  55222
164870  亞洲  台灣 2022-06-18  3244453  53666
164871  亞洲  台灣 2022-06-19  3295076  50623
164872  亞洲  台灣 2022-06-20  3330695  35619
164873  亞洲  台灣 2022-06-21  3387061  56366
164874  亞洲  台灣 2022-06-22  3439279  52218
164875  亞洲  台灣 2022-06-23  3487599  48320
164876  亞洲  台灣 2022-06-24  3533335  45736
164877  亞洲  台灣 2022-06-25  3573703  40368
164878  亞洲  台灣 2022-06-26  3613345  39642
164879  亞洲  台灣 2022-06-27  3641921  28576
164880  亞洲  台灣 2022-06-28  3686338  44417
164881  亞洲  台灣 2022-06-29  3728363  42025
164882  亞洲  台灣 2022-06-30  3767283  38920

In [31]:
taiwan_df[(taiwan_df['日期'].dt.year == 2022) & (taiwan_df['日期'].dt.month <= 6)]

        洲名  國家         日期     總確診數  新增確診數
164702  亞洲  台灣 2022-01-01    17050     21
164703  亞洲  台灣 2022-01-02    17070     20
164704  亞洲  台灣 2022-01-03    17095     25
164705  亞洲  台灣 2022-01-04    17129     34
164706  亞洲  台灣 2022-01-05    17155     26
...     ..  ..        ...      ...    ...
164878  亞洲  台灣 2022-06-26  3613345  39642
164879  亞洲  台灣 2022-06-27  3641921  28576
164880  亞洲  台灣 2022-06-28  3686338  44417
164881  亞洲  台灣 2022-06-29  3728363  42025
164882  亞洲  台灣 2022-06-30  3767283  38920

[181 rows x 5 columns]

In [32]:
jp_df[(jp_df['日期'].dt.year == 2022) & (jp_df['日期'].dt.month <= 6)]

       洲名  國家         日期     總確診數  新增確診數
86336  亞洲  日本 2022-01-01  1732752    456
86337  亞洲  日本 2022-01-02  1733229    477
86338  亞洲  日本 2022-01-03  1733901    672
86339  亞洲  日本 2022-01-04  1735050   1149
86340  亞洲  日本 2022-01-05  1737540   2490
...    ..  ..        ...      ...    ...
86512  亞洲  日本 2022-06-26  9241386  14206
86513  亞洲  日本 2022-06-27  9250940   9554
86514  亞洲  日本 2022-06-28  9270305  19365
86515  亞洲  日本 2022-06-29  9293629  23324
86516  亞洲  日本 2022-06-30  9316954  23325

[181 rows x 5 columns]