In [ ]:
import numpy as np
import pandas as pd

all_data = pd.read_csv('world.csv')
all_data.info()

In [4]:
#'洲名','國家','日期','總確診數','新增確診數'
df1 = all_data.reindex(columns=['洲名','國家','日期','總確診數','新增確診數'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   洲名      187885 non-null  object
 1   國家      187885 non-null  object
 2   日期      187885 non-null  object
 3   總確診數    187885 non-null  int64
 4   新增確診數   187885 non-null  int64
dtypes: int64(2), object(3)
memory usage: 7.2+ MB

In [7]:
df1['日期'] = pd.to_datetime(df1['日期'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   洲名      187885 non-null  object
 1   國家      187885 non-null  object
 2   日期      187885 non-null  datetime64[ns]
 3   總確診數    187885 non-null  int64
 4   新增確診數   187885 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 7.2+ MB

In [8]:
df1

        洲名   國家         日期    總確診數  新增確診數
0       亞洲  阿富汗 2020-02-24       5      5
1       亞洲  阿富汗 2020-02-25       5      0
2       亞洲  阿富汗 2020-02-26       5      0
3       亞洲  阿富汗 2020-02-27       5      0
4       亞洲  阿富汗 2020-02-28       5      0
...     ..  ...        ...     ...    ...
187880  非洲  辛巴威 2022-07-02  255586      0
187881  非洲  辛巴威 2022-07-03  255586      0
187882  非洲  辛巴威 2022-07-04  255726    140
187883  非洲  辛巴威 2022-07-05  255755     29
187884  非洲  辛巴威 2022-07-06  255805     50

[187885 rows x 5 columns]

In [10]:
taiwan_df = df1.query('國家=="台灣"')

        洲名  國家         日期     總確診數  新增確診數
163986  亞洲  台灣 2020-01-16        0      0
163987  亞洲  台灣 2020-01-17        0      0
163988  亞洲  台灣 2020-01-18        0      0
163989  亞洲  台灣 2020-01-19        0      0
163990  亞洲  台灣 2020-01-20        0      0
...     ..  ..        ...      ...    ...
164884  亞洲  台灣 2022-07-02  3837856  34807
164885  亞洲  台灣 2022-07-03  3870528  32672
164886  亞洲  台灣 2022-07-04  3893643  23115
164887  亞洲  台灣 2022-07-05  3929627  35984
164888  亞洲  台灣 2022-07-06  3964188  34561

[903 rows x 5 columns]

In [12]:
jp_df = df1.query('國家=="日本"')
jp_df

       洲名  國家         日期     總確診數  新增確診數
85626  亞洲  日本 2020-01-22        2      0
85627  亞洲  日本 2020-01-23        2      0
85628  亞洲  日本 2020-01-24        2      0
85629  亞洲  日本 2020-01-25        2      0
85630  亞洲  日本 2020-01-26        4      2
...    ..  ..        ...      ...    ...
86518  亞洲  日本 2022-07-02  9364954  24875
86519  亞洲  日本 2022-07-03  9388222  23268
86520  亞洲  日本 2022-07-04  9405007  16785
86521  亞洲  日本 2022-07-05  9441171  36164
86522  亞洲  日本 2022-07-06  9486965  45794

[897 rows x 5 columns]

In [15]:
from datetime import datetime
one_day = datetime.fromisoformat('2022-07-05')
print(one_day.year)
print(one_day.month)
print(one_day.day)

2022
7
5