In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randint(1,11,size=5),
                  'data2':np.random.randint(1,11,size=5)})
df

  key1 key2  data1  data2
0    a  one      3      4
1    a  two     10      2
2    b  one     10      2
3    b  two      9      2
4    a  one      4      9

In [5]:
df['data1'].groupby(df['key1']).sum()

key1
a    17
b    19
Name: data1, dtype: int64