In [7]:
import pandas as pd
df1 = pd.read_csv('2019~2023進出站人口數.csv',index_col='日期',usecols=['日期','車站名稱','進站人數','出站人數'])
df1.iloc[:20]

           車站名稱  進站人數  出站人數
日期
2019-04-23   基隆  8442  7743
2019-04-23   鎮安    15    14
2019-04-23   林邊   368   325
2019-04-23   佳冬    95    95
2019-04-23   東海    66    50
2019-04-23   枋寮   625   582
2019-04-23   加祿    22     8
2019-04-23   內獅     7     7
2019-04-23   枋山     7     6
2019-04-23   大武   157   144
2019-04-23   瀧溪    27    60
2019-04-23   金崙   424   456
2019-04-23  太麻里   118   127
2019-04-23   南州   533   424
2019-04-23   知本   696   615
2019-04-23   臺東  4324  4015
2019-04-23   山里     6    16
2019-04-23   鹿野   181   178
2019-04-23   瑞源    28    37
2019-04-23   瑞和     7     9

In [8]:
df1.loc['2019-04-23']

           車站名稱   進站人數   出站人數
日期
2019-04-23   基隆   8442   7743
2019-04-23   鎮安     15     14
2019-04-23   林邊    368    325
2019-04-23   佳冬     95     95
2019-04-23   東海     66     50
...         ...    ...    ...
2019-04-23   大慶   2999   2970
2019-04-23   五權   1312   1357
2019-04-23   臺中  18885  18430
2019-04-23   精武   1008    978
2019-04-23  新烏日   5135   4996

[239 rows x 3 columns]

In [12]:
df1.loc['2019-04-23':'2019-04-24']

           車站名稱   進站人數   出站人數
日期
2019-04-23   基隆   8442   7743
2019-04-23   鎮安     15     14
2019-04-23   林邊    368    325
2019-04-23   佳冬     95     95
2019-04-23   東海     66     50
...         ...    ...    ...
2019-04-24   五權   1247   1271
2019-04-24   臺中  18773  18509
2019-04-24   精武    946    971
2019-04-24   太原   3056   3112
2019-04-24   烏日    754    799

[477 rows x 3 columns]