In [8]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                 [1, 2, 3, 1, 2, 3, 1, 2, 3]])
s1.index.names = ['key1','key2']
s1

key1  key2
a     1       1.634428
      2      -0.377877
      3      -0.307279
b     1      -0.612140
      2      -1.178298
c     3      -1.575406
      1       0.236682
d     2      -0.310389
      3      -0.102339
dtype: float64

In [5]:
s2 = pd.Series(np.random.randn(9),
          index=pd.MultiIndex.from_arrays([
              ['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
              [1, 2, 3, 1, 2, 3, 1, 2, 3]
              ],names=['key1','key2']))
s2

key1  key2
a     1       0.749342
      2       0.140927
      3      -0.263915
b     1       0.314218
      2       0.234980
c     3       1.155218
      1       0.260371
d     2      -0.242075
      3      -0.159735
dtype: float64

In [13]:
display(s2.unstack("key2",fill_value=0))
s2.unstack("key1",fill_value=0)

key2         1         2         3
key1
a     0.749342  0.140927 -0.263915
b     0.314218  0.234980  0.000000
c     0.260371  0.000000  1.155218
d     0.000000 -0.242075 -0.159735

key1         a         b         c         d
key2
1     0.749342  0.314218  0.260371  0.000000
2     0.140927  0.234980  0.000000 -0.242075
3    -0.263915  0.000000  1.155218 -0.159735

In [17]:
s3 = s2.unstack("key1",fill_value=0)
s3.T

key1         a         b         c         d
key2
1     0.749342  0.314218  0.260371  0.000000
2     0.140927  0.234980  0.000000 -0.242075
3    -0.263915  0.000000  1.155218 -0.159735

In [21]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=pd.MultiIndex.from_arrays([['a','a','b','b'],[1, 2, 1, 2]],names=['key1','key2']),
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
frame.columns.names = ['縣市','顏色']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [22]:
frame['台北']

顏色         Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

In [23]:
frame['台北']['Green']

key1  key2
a     1       0
      2       3
b     1       6
      2       9
Name: Green, dtype: int64

In [25]:
display(frame)
frame.loc['a']

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

縣市      台北        台中
顏色   Green Red Green
key2
1        0   1     2
2        3   4     5

In [27]:
display(frame)
frame.loc['a']['台中']

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

顏色    Green
key2
1         2
2         5