In [3]:
import pandas as pd
df1 = pd.read_csv('2019~2023進出站人口數.csv',index_col='日期',usecols=['日期','車站名稱','進站人數','出站人數'])
df2 = df1.reset_index().set_index(keys=['日期','車站名稱'])
df2.columns.name = "人數"
s1 = df2.stack(level='人數')
s1

日期          車站名稱  人數
2019-04-23  基隆    進站人數    8442
                  出站人數    7743
            鎮安    進站人數      15
                  出站人數      14
            林邊    進站人數     368
                          ...
2023-12-31  花壇    出站人數    1532
            潭子    進站人數    3517
                  出站人數    3091
            瑞穗    進站人數     811
                  出站人數    1053
Length: 813522, dtype: int64

In [9]:
s2 = s1['2019-04-23':'2019-04-30']
s2

日期          車站名稱  人數
2019-04-23  基隆    進站人數    8442
                  出站人數    7743
            鎮安    進站人數      15
                  出站人數      14
            林邊    進站人數     368
                          ...
2019-04-30  精武    出站人數     831
            太原    進站人數    2605
                  出站人數    2692
            烏日    進站人數     758
                  出站人數     734
Length: 3808, dtype: int64

In [10]:
#2019-04-23~2019-04-30,每日進出的人口數
s2.groupby(level=['日期','人數']).sum()

日期          人數
2019-04-23  出站人數    576421
            進站人數    576421
2019-04-24  出站人數    574879
            進站人數    574879
2019-04-25  出站人數    577489
            進站人數    577489
2019-04-26  出站人數    755942
            進站人數    755942
2019-04-27  出站人數    718142
            進站人數    718142
2019-04-28  出站人數    761546
            進站人數    761546
2019-04-29  出站人數    619966
            進站人數    619966
2019-04-30  出站人數    586014
            進站人數    586014
dtype: int64

In [12]:
#2019-04-23~2019-04-30,每日進出的人口數
s2.groupby(level=['車站名稱','人數']).sum().unstack(level='人數')

人數     出站人數   進站人數
車站名稱
七堵    47817  46711
三坑    10838  10747
三塊厝    3182   2979
三姓橋    8651   9768
三民       80     86
...     ...    ...
鼓山     1581   1530
龍井     3406   3376
龍泉      150    120
龍港      193    193
龜山      828    852

[239 rows x 2 columns]