In [8]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                 [1, 2, 3, 1, 2, 3, 1, 2, 3]])
s1.index.names = ['key1','key2']
s1

key1  key2
a     1       1.634428
      2      -0.377877
      3      -0.307279
b     1      -0.612140
      2      -1.178298
c     3      -1.575406
      1       0.236682
d     2      -0.310389
      3      -0.102339
dtype: float64

In [5]:
s2 = pd.Series(np.random.randn(9),
          index=pd.MultiIndex.from_arrays([
              ['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
              [1, 2, 3, 1, 2, 3, 1, 2, 3]
              ],names=['key1','key2']))
s2

key1  key2
a     1       0.749342
      2       0.140927
      3      -0.263915
b     1       0.314218
      2       0.234980
c     3       1.155218
      1       0.260371
d     2      -0.242075
      3      -0.159735
dtype: float64

In [13]:
display(s2.unstack("key2",fill_value=0))
s2.unstack("key1",fill_value=0)

key2         1         2         3
key1
a     0.749342  0.140927 -0.263915
b     0.314218  0.234980  0.000000
c     0.260371  0.000000  1.155218
d     0.000000 -0.242075 -0.159735

key1         a         b         c         d
key2
1     0.749342  0.314218  0.260371  0.000000
2     0.140927  0.234980  0.000000 -0.242075
3    -0.263915  0.000000  1.155218 -0.159735

In [17]:
s3 = s2.unstack("key1",fill_value=0)
s3.T

key1         a         b         c         d
key2
1     0.749342  0.314218  0.260371  0.000000
2     0.140927  0.234980  0.000000 -0.242075
3    -0.263915  0.000000  1.155218 -0.159735