In [ ]:
import pandas as pd
df1 = pd.read_csv('2019~2023進出站人口數.csv',index_col='日期',usecols=['日期','車站名稱','進站人數','出站人數'])
df1.iloc[:20]

In [ ]:
df1.loc['2019-04-23']

In [28]:
df1.loc['2019-04-23':'2019-05-23']

           車站名稱   進站人數   出站人數
日期
2019-04-23   基隆   8442   7743
2019-04-23   鎮安     15     14
2019-04-23   林邊    368    325
2019-04-23   佳冬     95     95
2019-04-23   東海     66     50
...         ...    ...    ...
2019-05-23   五權   1038   1033
2019-05-23   臺中  17627  17300
2019-05-23   精武    717    745
2019-05-23   太原   2337   2306
2019-05-23   烏日    569    609

[7376 rows x 3 columns]

In [29]:
df2 = df1.reset_index().set_index(keys=['日期','車站名稱'])
df2.columns.name = "人數"
df2

人數                進站人數   出站人數
日期         車站名稱
2019-04-23 基隆     8442   7743
           鎮安       15     14
           林邊      368    325
           佳冬       95     95
           東海       66     50
...                ...    ...
2023-12-31 成功     1229   3101
           彰化    19617  16699
           花壇     1864   1532
           潭子     3517   3091
           瑞穗      811   1053

[406761 rows x 2 columns]

In [30]:
s1 = df2.stack(level='人數')
s1

日期          車站名稱  人數
2019-04-23  基隆    進站人數    8442
                  出站人數    7743
            鎮安    進站人數      15
                  出站人數      14
            林邊    進站人數     368
                          ...
2023-12-31  花壇    出站人數    1532
            潭子    進站人數    3517
                  出站人數    3091
            瑞穗    進站人數     811
                  出站人數    1053
Length: 813522, dtype: int64

In [31]:
s1.unstack(level='車站名稱')

車站名稱                 七堵      三坑    三塊厝     三姓橋    三民      三義    三貂嶺     上員  \
日期         人數
2019-04-23 進站人數  6113.0  1394.0  394.0  1150.0   9.0   819.0   60.0   47.0
           出站人數  6335.0  1348.0  396.0  1041.0   7.0   839.0   63.0   55.0
2019-04-24 進站人數  6139.0  1432.0  358.0  1216.0  11.0   814.0   64.0   40.0
           出站人數  6371.0  1493.0  400.0  1049.0   6.0   812.0  116.0   57.0
2019-04-25 進站人數  6083.0  1377.0  361.0  1245.0  10.0   813.0   43.0   45.0
...                 ...     ...    ...     ...   ...     ...    ...    ...
2023-12-29 出站人數  7741.0  1775.0  854.0  1603.0  30.0   932.0   73.0   96.0
2023-12-30 進站人數  5747.0  1446.0  650.0  1224.0   8.0   845.0  424.0   96.0
           出站人數  5674.0  1746.0  657.0  1036.0   8.0  1006.0  390.0  100.0
2023-12-31 進站人數  5904.0  1473.0  648.0  1150.0   9.0  1035.0  596.0  123.0
           出站人數  4922.0  1400.0  729.0   959.0   8.0   899.0  513.0   88.0

車站名稱                  中壢     中洲  ...      鳳山     鳳林       鶯歌     鹿野     麟洛  \
日期         人數                    ...
2019-04-23 進站人數  21976.0  466.0  ...  4502.0  445.0   7930.0  181.0  128.0
           出站人數  22573.0  458.0  ...  4137.0  387.0   8101.0  178.0  151.0
2019-04-24 進站人數  22420.0  441.0  ...  4318.0  335.0   8132.0  244.0  129.0
           出站人數  23079.0  446.0  ...  4184.0  324.0   8293.0  213.0  158.0
2019-04-25 進站人數  22901.0  485.0  ...  4376.0  337.0   8083.0  173.0  150.0
...                  ...    ...  ...     ...    ...      ...    ...    ...
2023-12-29 出站人數  29937.0  465.0  ...  7898.0  599.0  10596.0  326.0  231.0
2023-12-30 進站人數  28634.0  423.0  ...  6333.0  362.0   9348.0  187.0  203.0
           出站人數  28961.0  366.0  ...  5817.0  494.0   8919.0  239.0  225.0
2023-12-31 進站人數  34694.0  465.0  ...  5538.0  421.0  10396.0  259.0  252.0
           出站人數  29912.0  401.0  ...  5982.0  347.0   8709.0  221.0  196.0

車站名稱                鼓山     龍井     龍泉    龍港     龜山
日期         人數
2019-04-23 進站人數  159.0  383.0    8.0  27.0   77.0
           出站人數  172.0  401.0   12.0  22.0   96.0
2019-04-24 進站人數  149.0  350.0    8.0  15.0   96.0
           出站人數  173.0  351.0    7.0  18.0  102.0
2019-04-25 進站人數  160.0  388.0   10.0  24.0  182.0
...                ...    ...    ...   ...    ...
2023-12-29 出站人數  665.0  737.0   72.0  35.0  114.0
2023-12-30 進站人數  663.0  608.0   27.0  65.0  226.0
           出站人數  567.0  594.0  256.0  51.0  146.0
2023-12-31 進站人數  744.0  684.0   41.0  29.0  214.0
           出站人數  752.0  588.0  271.0  61.0  159.0

[3428 rows x 241 columns]

In [32]:
s1

日期          車站名稱  人數
2019-04-23  基隆    進站人數    8442
                  出站人數    7743
            鎮安    進站人數      15
                  出站人數      14
            林邊    進站人數     368
                          ...
2023-12-31  花壇    出站人數    1532
            潭子    進站人數    3517
                  出站人數    3091
            瑞穗    進站人數     811
                  出站人數    1053
Length: 813522, dtype: int64

In [37]:
s2 = s1['2019-04-23':'2019-04-30']
s2

日期          車站名稱  人數
2019-04-23  基隆    進站人數    8442
                  出站人數    7743
            鎮安    進站人數      15
                  出站人數      14
            林邊    進站人數     368
                          ...
2019-04-30  精武    出站人數     831
            太原    進站人數    2605
                  出站人數    2692
            烏日    進站人數     758
                  出站人數     734
Length: 3808, dtype: int64

In [38]:
s2.groupby(level='車站名稱').sum()

車站名稱
七堵     94528
三坑     21585
三塊厝     6161
三姓橋    18419
三民       166
       ...
鼓山      3111
龍井      6782
龍泉       270
龍港       386
龜山      1680
Length: 239, dtype: int64

In [39]:
s2.groupby(level=['車站名稱','人數']).sum()

車站名稱  人數
七堵    出站人數    47817
      進站人數    46711
三坑    出站人數    10838
      進站人數    10747
三塊厝   出站人數     3182
              ...
龍泉    進站人數      120
龍港    出站人數      193
      進站人數      193
龜山    出站人數      828
      進站人數      852
Length: 478, dtype: int64