In [7]:
import numpy as np
import pandas as pd
df1 = pd.DataFrame(np.arange(9).reshape((3,3)),
             index=['a','b','c'],
             columns=['台北', '台中', '高雄'])
df1.reindex(index=['a','c'],columns=['台北','高雄'])

   台北  高雄
a   0   2
c   6   8

In [8]:
df1

   台北  台中  高雄
a   0   1   2
b   3   4   5
c   6   7   8