In [ ]:
import numpy as np
import pandas as pd
students = np.random.randint(50,101,size=(50,5))
stu = pd.DataFrame(students,
             columns=['國文','英文','數學','地理','歷史'],
             index=[f'第{i}號' for i in range(1,51)]
             )
stu

In [ ]:
#陣列運算,使用數學運算子
stu['國文'] + stu['數學']

In [ ]:
#陣列運算,使用比較運算子
stu['國文'] <= 60

In [ ]:
#Series執行統計的方法
stu['國文'].sum()

In [ ]:
#使用numpy統計方法
import numpy as np
np.sum(stu['國文'])

In [ ]:
#DataFrame執行統計的方法
stu
stu['總分'] = stu.iloc[:,:5].sum(axis=1)
stu['平均'] = stu.iloc[:,:5].mean(axis=1)
stu

In [ ]:
stu
stu['總分'] = np.sum(stu.iloc[:,:5],axis=1)
stu['平均'] = np.mean(stu.iloc[:,:5],axis=1)
stu

In [ ]:
#使用seires的索引和index name
stu['總分'].iloc[0]
stu['總分']['第1號']

In [31]:
#Series sort
stu['總分'].sort_values()
sorted_s = stu['總分'].sort_values(ascending=False)

In [32]:
#使用sort_values(),取出前5分
sorted_s[:5]

第40號    457
第41號    451
第15號    435
第33號    414
第18號    408
Name: 總分, dtype: int64

In [36]:
#DataFrame sorted
sorted_df = stu.sort_values(by='總分',ascending=False)
sorted_df[:5]

      國文  英文   數學  地理  歷史   總分    平均
第40號  92  80  100  92  93  457  91.4
第41號  73  96   94  91  97  451  90.2
第15號  98  92   97  89  59  435  87.0
第33號  95  90   81  84  64  414  82.8
第18號  98  98   63  60  89  408  81.6