In [ ]:
import numpy as np
import pandas as pd
students = np.random.randint(50,101,size=(50,5))
stu = pd.DataFrame(students,
             columns=['國文','英文','數學','地理','歷史'],
             index=[f'第{i}號' for i in range(1,51)]
             )
stu

In [3]:
def abc(s)->float: #return value
    return s.mean()

stu.apply(abc,axis=1)

第1號     69.4
第2號     69.2
第3號     79.2
第4號     81.0
第5號     68.0
第6號     78.2
第7號     76.4
第8號     78.4
第9號     72.6
第10號    69.8
第11號    70.4
第12號    80.0
第13號    72.8
第14號    80.2
第15號    73.2
第16號    76.0
第17號    67.4
第18號    70.0
第19號    74.2
第20號    80.8
第21號    68.0
第22號    73.4
第23號    62.8
第24號    68.4
第25號    76.0
第26號    71.4
第27號    83.0
第28號    71.8
第29號    77.0
第30號    71.8
第31號    58.0
第32號    65.4
第33號    72.2
第34號    62.6
第35號    90.4
第36號    87.6
第37號    70.8
第38號    78.0
第39號    75.0
第40號    80.6
第41號    76.4
第42號    77.8
第43號    81.6
第44號    81.0
第45號    63.0
第46號    78.2
第47號    85.0
第48號    69.2
第49號    73.6
第50號    67.2
dtype: float64

In [24]:
def efg(s) -> pd.Series: #return series
    max_name = s[s == s.max()].index.values.tolist()[0]    
    min_name = s[s == s.min()].index.values.tolist()[0]
    return pd.Series([s.mean(),f'{max_name}({s.max()})',f'{min_name}({s.min()})'],
                     index=["平均","最高分","最低分"])
stu.apply(efg,axis=1)

        平均      最高分     最低分
第1號   69.4   國文(81)  英文(61)
第2號   69.2   歷史(97)  數學(52)
第3號   79.2   地理(95)  英文(55)
第4號   81.0   地理(98)  數學(55)
第5號   68.0   國文(91)  歷史(53)
第6號   78.2   英文(99)  地理(59)
第7號   76.4   國文(92)  歷史(54)
第8號   78.4   國文(93)  數學(52)
第9號   72.6   歷史(89)  國文(51)
第10號  69.8   歷史(84)  數學(51)
第11號  70.4   歷史(92)  數學(57)
第12號  80.0   英文(96)  國文(64)
第13號  72.8   地理(93)  國文(57)
第14號  80.2   數學(92)  國文(70)
第15號  73.2   數學(92)  地理(53)
第16號  76.0   歷史(96)  英文(50)
第17號  67.4   數學(94)  國文(55)
第18號  70.0   數學(79)  歷史(62)
第19號  74.2   數學(97)  國文(50)
第20號  80.8   國文(92)  地理(68)
第21號  68.0   地理(94)  歷史(51)
第22號  73.4   歷史(98)  英文(57)
第23號  62.8   國文(79)  地理(54)
第24號  68.4   英文(73)  歷史(58)
第25號  76.0  數學(100)  歷史(51)
第26號  71.4   國文(91)  地理(53)
第27號  83.0   歷史(98)  地理(54)
第28號  71.8   數學(92)  英文(55)
第29號  77.0   歷史(87)  地理(62)
第30號  71.8   數學(98)  歷史(52)
第31號  58.0   地理(62)  數學(54)
第32號  65.4   數學(82)  歷史(53)
第33號  72.2   歷史(89)  地理(52)
第34號  62.6   國文(80)  英文(52)
第35號  90.4   地理(99)  國文(84)
第36號  87.6   英文(99)  歷史(70)
第37號  70.8   數學(93)  歷史(52)
第38號  78.0  國文(100)  地理(64)
第39號  75.0   歷史(88)  英文(60)
第40號  80.6   地理(95)  英文(61)
第41號  76.4   數學(96)  國文(57)
第42號  77.8   數學(88)  歷史(55)
第43號  81.6   英文(90)  地理(67)
第44號  81.0   地理(91)  國文(67)
第45號  63.0   歷史(72)  國文(52)
第46號  78.2   英文(99)  地理(55)
第47號  85.0   英文(97)  地理(76)
第48號  69.2   地理(92)  歷史(51)
第49號  73.6   英文(98)  地理(54)
第50號  67.2   國文(81)  英文(54)

In [10]:
stu1 = stu.iloc[0]
stu1

國文    81
英文    61
數學    66
地理    65
歷史    74
Name: 第1號, dtype: int64

In [19]:
stu1[stu1 == stu1.max()].index.values.tolist()[0]

'國文'