In [2]:
import pandas_datareader.data as pdr
import yfinance as yf
yf.pdr_override()

pdr.get_data_yahoo('AAPL')

yfinance: pandas_datareader support is deprecated & semi-broken so will be removed in a future verison. Just use yfinance.

[*********************100%%**********************]  1 of 1 completed

                  Open        High  ...   Adj Close     Volume
Date                                ...
1980-12-12    0.128348    0.128906  ...    0.099058  469033600
1980-12-15    0.122210    0.122210  ...    0.093890  175884800
1980-12-16    0.113281    0.113281  ...    0.086999  105728000
1980-12-17    0.115513    0.116071  ...    0.089152   86441600
1980-12-18    0.118862    0.119420  ...    0.091737   73449600
...                ...         ...  ...         ...        ...
2024-06-24  207.720001  212.699997  ...  208.139999   80727000
2024-06-25  209.149994  211.380005  ...  209.070007   56713900
2024-06-26  211.500000  214.860001  ...  213.250000   66213200
2024-06-27  214.690002  215.740005  ...  214.100006   49772700
2024-06-28  215.770004  216.070007  ...  210.619995   82475600

[10977 rows x 6 columns]

In [3]:
all_data = {ticker:pdr.get_data_yahoo(ticker) for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}
all_data

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

{'AAPL':                   Open        High  ...   Adj Close     Volume
 Date                                ...
 1980-12-12    0.128348    0.128906  ...    0.099058  469033600
 1980-12-15    0.122210    0.122210  ...    0.093890  175884800
 1980-12-16    0.113281    0.113281  ...    0.086999  105728000
 1980-12-17    0.115513    0.116071  ...    0.089152   86441600
 1980-12-18    0.118862    0.119420  ...    0.091737   73449600
 ...                ...         ...  ...         ...        ...
 2024-06-24  207.720001  212.699997  ...  208.139999   80727000
 2024-06-25  209.149994  211.380005  ...  209.070007   56713900
 2024-06-26  211.500000  214.860001  ...  213.250000   66213200
 2024-06-27  214.690002  215.740005  ...  214.100006   49772700
 2024-06-28  215.770004  216.070007  ...  210.619995   82475600

 [10977 rows x 6 columns],
 'IBM':                   Open        High         Low       Close   Adj Close   Volume
 Date
 1962-01-02    7.374124    7.374124    7.291268    7.291268    1.526557   407940
 1962-01-03    7.291268    7.355003    7.291268    7.355003    1.539901   305955
 1962-01-04    7.355003    7.355003    7.278521    7.281708    1.524554   274575
 1962-01-05    7.272148    7.272148    7.125558    7.138305    1.494531   384405
 1962-01-08    7.131931    7.131931    6.947100    7.004461    1.466509   572685
 ...                ...         ...         ...         ...         ...      ...
 2024-06-24  175.000000  178.460007  174.149994  175.009995  175.009995  4864700
 2024-06-25  175.139999  175.750000  171.419998  172.600006  172.600006  4119300
 2024-06-26  171.279999  172.679993  170.410004  171.869995  171.869995  2779000
 2024-06-27  171.119995  172.500000  170.479996  170.850006  170.850006  2894000
 2024-06-28  170.850006  173.460007  170.529999  172.949997  172.949997  4193300

 [15730 rows x 6 columns],
 'MSFT':                   Open        High  ...   Adj Close      Volume
 Date                                ...
 1986-03-13    0.088542    0.101563  ...    0.060055  1031788800
 1986-03-14    0.097222    0.102431  ...    0.062199   308160000
 1986-03-17    0.100694    0.103299  ...    0.063272   133171200
 1986-03-18    0.102431    0.103299  ...    0.061663    67766400
 1986-03-19    0.099826    0.100694  ...    0.060591    47894400
 ...                ...         ...  ...         ...         ...
 2024-06-24  449.799988  452.750000  ...  447.670013    15913700
 2024-06-25  448.250000  451.420013  ...  450.950012    16747500
 2024-06-26  449.000000  453.600006  ...  452.160004    16507000
 2024-06-27  452.179993  456.170013  ...  452.850006    14806300
 2024-06-28  453.070007  455.380005  ...  446.950012    28333300

 [9651 rows x 6 columns],
 'GOOG':                   Open        High  ...   Adj Close     Volume
 Date                                ...
 2004-08-19    2.490664    2.591785  ...    2.496292  897427216
 2004-08-20    2.515820    2.716817  ...    2.694573  458857488
 2004-08-23    2.758411    2.826406  ...    2.721690  366857939
 2004-08-24    2.770615    2.779581  ...    2.608991  306396159
 2004-08-25    2.614201    2.689918  ...    2.637103  184645512
 ...                ...         ...  ...         ...        ...
 2024-06-24  181.279999  182.080002  ...  180.789993   18198300
 2024-06-25  181.145004  185.750000  ...  185.580002   18917700
 2024-06-26  184.199997  185.929993  ...  185.369995   13375700
 2024-06-27  185.645004  187.500000  ...  186.860001   13025700
 2024-06-28  185.720001  186.580002  ...  183.419998   23020000

 [4999 rows x 6 columns]}