In [2]:
import pandas_datareader.data as pdr
import yfinance as yf
yf.pdr_override()

pdr.get_data_yahoo('AAPL')

yfinance: pandas_datareader support is deprecated & semi-broken so will be removed in a future verison. Just use yfinance.

[*********************100%%**********************]  1 of 1 completed

                  Open        High  ...   Adj Close     Volume
Date                                ...
1980-12-12    0.128348    0.128906  ...    0.099058  469033600
1980-12-15    0.122210    0.122210  ...    0.093890  175884800
1980-12-16    0.113281    0.113281  ...    0.086999  105728000
1980-12-17    0.115513    0.116071  ...    0.089152   86441600
1980-12-18    0.118862    0.119420  ...    0.091737   73449600
...                ...         ...  ...         ...        ...
2024-06-24  207.720001  212.699997  ...  208.139999   80727000
2024-06-25  209.149994  211.380005  ...  209.070007   56713900
2024-06-26  211.500000  214.860001  ...  213.250000   66213200
2024-06-27  214.690002  215.740005  ...  214.100006   49772700
2024-06-28  215.770004  216.070007  ...  210.619995   82475600

[10977 rows x 6 columns]